{% extends "base.html" %}
{% block content %}
<!-- TODO setup own formspree form handler -->
<!-- Start of Content -->
		  <div class="wrapper">
              <div class="contact">
    <!-- Page Title -->
                <h1>Authors</h1><br><br>
                  <h2>Do you have a story to tell?</h2><br><br>
    
    <!-- Page Introduction -->
                  <p> Do you have knowledge, experience or expertise which you want Fidelity to publish?<br><br>
                      
                      Have you written, or are proposing, a book about something you have done, achieved or learned?<br><br>
                      
                      Have you collected information, discovered something new, overcome an obstacle or helped bring about change in individuals, families, home, work or the wider community?<br><br><br>
                      </p>
                      
                     <h3>We are seeking authors who have something to say</h3><br><br>
                      <p>
                     We want to publish what you know, what you have done, what you want to tell others<br><br>
                      
                      Send us the outline of your book in 50-250 words<br><br>
                      
                      Or if you have the first chapter or complete manuscript, email it to us<br><br>
                      
                      We will then get back to you, thanks
                      </p>
                   <br><br>
                  <h3>See also below for more information about the authors we are seeking</h3><br><br>
                  
                                
    <!-- Contact Form Fields -->
                <form action="https://formspree.io/info@fidelitybooks.co.uk" method="POST">
                    <p>Your name</p>
                    <input style="border-radius:5px;border:solid 2.5px rgba(85, 1, 1, 0.9);background-color:rgba(53,53,53,0);color:#fff;" type="text" name="name">
                    <br><br>
                    <p>Your email</p>
                    <input style="border-radius:5px;border:solid 2.5px rgba(85, 1, 1, 0.9);background-color:rgba(53,53,53,0);color:#fff;" type="email" name="_replyto">
                    <br><br>
                    <p>Outline of your book in 50-250 words</p>
                    <textarea style="border-radius:5px;border:solid 2.5px rgba(85, 1, 1, 0.9);background-color:rgba(53,53,53,0);color:#fff;" name="message" rows="4" cols="50"></textarea>
                    <br><br>
                    <input style="border-radius:5px;border:solid 2.5px rgba(85, 1, 1, 0.9);background-color:rgba(53,53,53,0);color:#fff;padding:1%;" type="submit" value="Send">
                </form><br>
    
    <!-- Direct Email Text & Email Client Link -->
                 
                  <p>You can submit your first chapter or entire manuscript directly to us via the link below<br><br> <a href="mailto:info@fidelitybooks.com" id="mailbutton">Open email link</a></p><br><br><br>
                  
                  

                        <h3>MORE ABOUT FIDELITY AND THE AUTHORS WE ARE SEEKING</h3><br>
                    <p class="bookdesc" style="color:rgb(35,35,35);"> 
                          
                               
                        At Fidelity Books, we know what it is like for new authors who are trying to get published. It is a frustrating, time&#8209;consuming and often depressing exercise.<br><br>
                        
                        It is a common experience for authors to submit proposals to a publisher and wait for many months or up to a year to hear back.  The response is of course often negative. You are left wondering, why does it take six months or more to reject a book?  What were they doing with the manuscript for all that time?<br><br>

                        At Fidelity, we aim to get back to you with an answer within one month.  We will not keep you waiting around unnecessarily.<br><br>

                        Another common problem facing prospective authors is researching how a publisher wants new manuscripts and book ideas to be submitted. It seems that every publisher wants ideas and manuscripts submitted differently.<br><br>
                        
                        Then you must do what can sometimes be a lengthy and tedious exercise in futility: writing fresh copy for a publisher, answering endless questions, putting a description into their format or wording, rather than expressing your publication in your own way.<br><br>

                        At Fidelity, we simply ask you to summarise your book in 50 to 250 words. Just tell us what it is about in one or two paragraphs.  Or you can submit the first chapter, or the entire manuscript.<br><br>  

                         &ensp;&ensp;&ensp;&#8226;&ensp;Do you have knowledge, experience or expertise that will be of interest to others?<br><br>  
                        
                        &ensp;&ensp;&ensp;&#8226;&ensp;Do you know something, have you done something or made a discovery of interest to others?<br><br>  
                        
                        &ensp;&ensp;&ensp;&#8226;&ensp;Have you have made life better for yourself, your family or the wider community?<br><br> 

                        &ensp;&ensp;&ensp;&#8226;&ensp;Have you accumulated information? A body of knowledge in a subject you know about?<br><br> 
                        
                        &ensp;&ensp;&ensp;&#8226;&ensp;Have you worked out a better way to do something? <br><br> 
                        
                        &ensp;&ensp;&ensp;&#8226;&ensp;Have you found a solution to a hitherto difficult problem? <br><br> 
                        
                        &ensp;&ensp;&ensp;&#8226;&ensp;Have you made a contribution to homelife, worklife, an office, a business or society in general that you want to tell others about?<br><br> 
                        
                        &ensp;&ensp;&ensp;&#8226;&ensp;Have you had an experience you want to tell others about?<br><br>  

                        &ensp;&ensp;&ensp;&#8226;&ensp;Have you helped bring about change, innovation, progress or development which merits publication?<br><br> 
                        
                         &ensp;&ensp;&ensp;&#8226;&ensp;Have you succeeded &#8209; or failed &#8209; in something which others might want to know about?<br><br>

                        &ensp;&ensp;&ensp;&#8226;&ensp;Have you found wisdom? Happiness? Contentment?<br><br> 

                        <b>If your book falls into the scope above, then Fidelity Books is the publisher for you.  Please contact us and tell us about your book</b>.<br><br><br><br><br>
                        
                        <i>Please note the conditions for the submission of proporals and manuscripts at the foot of the</i> <a href="http://www.fidelitybooks.co.uk/privacy.html">Terms &amp; Conditions Page</a>
                        
                        


                  
        </p>
                  
         </div>
            </div>
       
        
            
        
{% endblock %}