{% extends "base.html" %}
{% block content %}
<!-- Start of Content -->
        <div class="wrapper">
        
            <!-- 
            Book Image Area : src relates to image path on system.
            -->
            <img class="bookimg" src="static/jpg/twentyonerulesfrontcover5.8.17.png" alt="Twenty&#8209;One SECRET RULES for SURVIVAL in your office, business &amp; workplace" width="395px" height="590px">
            <!-- 
            End Book Image Area ^
            -->
             <!-- 
            Book Title & Title Font Colour
            -->
            <h1 class="booktitle" style="color:rgb(35,35,35);">
                 <h1>Twenty&#8209;one<br>
                     SECRET RULES<br>
                for<br>
                SURVIVAL<br>
                in your office,<br>
                business &amp; workplace<br>
             </h1><br><br><br>
                
               <h2>
                  Use this book to survive and<br>
                prosper at work <br><br> 
                   
                 ...or ignore this book and spend<br>
                   your lifetime making costly mistakes!<br><br><br></h2>
                
                    
            <!-- 
            End Book Title Area 
            -->
            
            <p class="bookdesc">
                
               <b> An introduction from the author...</b><br><br>
                
                Information is everywhere.  Future historians will call this period the &#8220;information revolution&#8221;.  Books, magazines, periodicals and of course the internet surround, embrace and even drown us in information.  There is probably no topic on which information cannot be found.<br><br>

If you want to survive the many pitfalls in your office or job, or aim to become wealthy through you own effort, there is no escaping the excess of information once you start to look for it. It seems that everybody from billionaires to snake-oil merchants are desperate to tell you and sell you their so-called secrets to success.<br><br>

                But what use is an avalanche of information to those with an acute need to survive and prosper?  <b>You need wisdom, not information, to help you make key decisions.</b>  Information&#8209;overload leads to confusion, hesitation and inaction.  You can spend time without limit saturating yourself in information, but this does not by itself result in wisdom, wealth or success.<br><br>

                For the past half-million years, spanning the epoch of humanity, people have gone through life making mistakes <b>and if they are lucky, learning from their mistakes</b>.  The availability via the internet of all the information in the world will not stop you making the same mistakes that generations before you have made.<br><br>

                <b>But I am offering you wisdom.</b>  I am offering you the lessons I have learned.  I am offering you <b>the benefit of my experience</b>, built up agonizingly and slowly over a long period of time.<br><br>

I run a business in London, employ staff and interact with many people. Clients, colleagues, prospective customers, suppliers, manufacturers, delivery companies, local authorities, those who enforce regulations, bank staff, lawyers, insurers etc: the list is endless.  In my working life I have negotiated with people ranging from the poor to multi-millionaires in the Sunday Times &#8220;Rich List&#8221; and from hospital porters to Ministers in Tony Blair's Cabinet.<br><br>
                
I have found that there are a number of rules to follow in order to survive in business, at work and in the office. When interacting with colleagues, clients, competitors and others. When dealing with money, contracts and negotiations. When doing deals or simply sitting at your desk and getting on quietly with your job.<br><br>

                Nobody told me these Twenty&#8209;One Rules for survival and success. <b>And nobody is going to tell you these Twenty&#8208;One Rules</b>.<br><br>  
                
                Older people who have learned some or all of these Rules tend to keep the information to themselves.  Sadly, you will rarely find an older, experienced staff member seeking out a newer and younger colleague to give them freely the benefit of their lifetime experience.<br><br>
                
                You cannot rely on others to tell you what is in the Twenty&#8208;One Rules. They are not available online.  They are not to be found in the vast and excessive amount of information at your fingertips.  Or if they are, it could take a lifetime of searching.<br><br>

                Setting out to find these Twenty&#8208;One Rules is like looking for a needle in a haystack. Eventually &#8208; if you are lucky &#8208; you might find them.  But more likely you will dicover them just like I did, over a period of decades, by experience.  <b>By the time you discover the Twenty&#8208;One Rules for yourself, you have made many mistakes and lost out from not knowing them earlier.</b>  <br><br>

<b>You personally might lose money, time and prestige by not knowing the Twenty&#8208;One Rules</b>.  You will have lost the opportunity to do things better, faster and more successfully. You will have lost the chance to do things more profitably earlier in your life.  You will have lost the potential to build your reputation sooner and younger.<br><br>

These rules have been discovered by me through experience; tempered through adversity; refined through use. <b>These rules have been hard-earned and never shared before</b>.<br><br>

These rules work for me.  <b>And I wish I had known them thirty years ago</b>.  I would have gladly paid to learn these rules when I was younger.  <b>You really are so lucky</b>. You now have the opportunity to learn the Twenty&#8208;One Rules.<br><br>

This is your chance to learn from the experience of others, <b>for you to benefit</b> from the mistakes of others.<br><br>

                As far as I am aware, these rules are universal in their application. In all countries, all economies and all cultures.  Younger people tend not to know them.  Older people tend to have found some or all of them by trial and error <u>if they are lucky</u>.<br><br>
                
                But now you can short-cut the proces.  <b>You can learn in half an hour what takes most people half a life-time</b>.<br><br>

<b><u>This booklet gives you an unfair advantage in your office, business or workplace</u></b><br><br>
                
<b>This book gives you wisdom you would not otherwise gain</b> for many, many years.  Or perhaps ever!<br><br>

And it gives you that wisdom at an absolutely knock-down, bargain, once-in-a-lifetime price.  Normally you would have to wait years and make many mistakes to find out what I will tell you for just a few pounds.<br><br>
                
You will suffer pain, humiliation and embarrassment. You will suffer financial loss, just as I did in reality.  You will make fundamental errors which my Twenty&#8208;One Rules could help you avoid.<br><br>

                For the price of a bottle of cheap wine or a couple of pints of beer, for the price of half a pizza, for the price of a gallon of petrol, <b>for the price of a chicken in Tesco, I am giving you knowledge without compare</b>.   For the price of a box of washing powder, I am giving you the tools to help you make gains in your life, job or income.<br><br>

These comparisons with what else you could buy for the price of this booklet might make you smile or laugh, but I am deadly serious.  I run a successful business in London, employing staff, turning over more than half-a-million pounds each year.<br><br>

What I have learned in business, in negotiations, in dealing with clients, suppliers, company reps, banks, agents, rule enforcers, rule&#8208;makers (and sometimes rule-breakers!) and others is invaluable.  How I operate now is so much better, smoother, more profitable and more successful than when I started out years ago.<br><br>

                I live and work by the Twenty&#8208;One Rules.  <b>They have directly contribued to success in my office, business and workplace</b>.<br><br>
                
                Now you can discover them <u>at a fraction of what it has cost me</u> in time, effort and experience.
<div class=white>
    <b>ASK YOURSELF THESE TWO KEY QUESTIONS...</b><br><br>
    
Do you want to survive and prosper?<br><br>
    
Do you want to benefit from the valuable experience of others?<br><br>

    If the answer is YES, then <b><u>Twenty&#8208;One SECRET RULES for SURVIVAL</u></b> is for you<br><br>
                
    If the answer is YES, it means <B><U>I WROTE THIS BOOK JUST FOR YOU</U></B><br>
            
</div>          
                <h3>You can obtain</h3>
                 <h2>Twenty&#8209;one<br>
                     SECRET RULES<br>
                for<br>
                SURVIVAL<br>
                in your office,<br>
                business &amp; workplace<br>
             </h2>    
     <br>
    exclusively online from Fidelity Books</h2><br><br>
<center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="HUGA2BVYDNABC">
<input type="hidden" name="custom" value="book_twenty_one_rules">
<table>
<tr><td><input type="hidden" name="on0" value="Email">Email</td></tr><tr><td><input type="text" name="os0" maxlength="200" required></td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
</center>
e-book download &#xA3;4.99<br><br>
PUBLISHED AND AVAILABLE FROM 1st OCTOBER 2017 <br><br>
<b>To get an advance copy at 50% discount, send your email and the book title to Fidelity Books via our <a href="http://www.fidelitybooks.co.uk/contact.html">Contact page</a></b><br><br>

Published by Fidelity Books<br><br>
www.FidelityBooks.co.uk<br><br>
ISBN 978-0-9934660-4-5 <br><br>         
  
                        
        </p>
            <!-- 
            End Book Description Area 
            -->
        
        </div>
    
{% endblock %}