{% extends "base.html" %}
{% block content %}
            			
        <div class="wrapper">
        
            <!-- 
            Book Image Area : src relates to image path on system.
            -->
            <img class="bookimg" src="static/jpg/smokingimagefront6.8.17.png" alt="From Infancy to Adulthood: Smoke and Drug-free Children  Do you want your children never to smoke and never to take drugs?" width="395px" height="590px">
            <!-- 
            End Book Image Area ^
            -->
            <!-- 
            Book Title & Title Font Colour
            -->
            <h1 class="booktitle" style="color:rgb(35,35,35);">
                
            From Infancy to Adulthood:<br>
                Smoke &amp; Drug-free Children<br><br></h1>
                
               <h2> Do you want your children<br>
                never to smoke<br>
                and<br>
                never to take drugs?<br><br><br></h2>
                
        
            <!-- 
            End Book Title Area 
            -->



            <!-- 
            Book Description Area 
            -->
            <p class="bookdesc">
               
<b>An introduction from the author&hellip;</b><br><br>
                
                               
Every parent who tries to prevent their children from smoking and taking illegal and recreational drugs &ndash; whether successful or otherwise &ndash; is a hero.  It is selfless.  It is altruistic. It is aimed solely at helping our children, the next generation.<br><br>

At times it feels like we are swimming against the tide.  Smoking and drugs are widespread. Their use is often glamourised.  However, we all know the truth: smoking and taking drugs are a curse on the children who do it.  It is parents who care most and it is we who want to prevent the next generation from smoking and taking drugs.<br><br>

This book shows how I brought up my children so they did not smoke or take drugs.  It describes what I did with my children.  It worked.  It was easy.<br><br>

I am not here to tell you, the reader and others, what to do.  I am not in a position to promise other parents that if they do this, they are sure to get non-smoking and drug-free children.<br><br>
               
But what I can say is that my children have not smoked or taken drugs, unlike the apparent overwhelming majority of teenagers when their contemporaries.  In this book, I am sharing my method with others.  I used this method. It was simple and for me and my children it was successful.<br><br>
                
<b>Smoking and drug-taking is widespread amongst teenagers</b><br><br>
                
Nobody knows how many children smoke or take drugs.  Some do it on a regular basis and some have tried it occasionally.  Neither is inevitable, not should it be acceptable.<br><br>

Based on anecdotal evidence, hearsay and what my children, who attended a comfortable and mainly middle-class comprehensive school in London observed, it appears that perhaps 80% or more of teenagers try smoking or drugs at some point.<br><br>

Of that 80%, about half become regular users of cigarettes or drugs before reaching 18 years of age.<br><br>

If other parents desperately do not want their children to be in that experimental 80% or the ensuing half who become addicted, then like me, they will want to do something about it.  They will want to bring up their children to be non-smokers and drug-free.<br><br>

<b>Bringing up children never to smooke and never to take drugs</b><br><br>
                
In this book, I have set out my system for bringing up my children so they neither smoked nor took drugs.  It consists of ten key points.<br><br>

My ten points were used repeatedly during the upbringing of my children, but they were never programmed or scheduled.  They were not delivered in doses at regular intervals. They were neither lessons nor lectures.  They were never forced onto a reluctant audience.<br><br>

I drew on the various key points as and when the opportunity arose.  Throughout their childhood, I introduced material and examples whenever it seemed suitable.<br><br>

Sometimes it would be nothing more than a quick remark of disapproval in the street when pointing out somebody who was smoking.  At other times, it would be sitting at home and debating whether a particular pop star being interviewed on television, with slurred speech, strange intonation or half-closed eyes, was under the influence of drugs.<br><br>

I did not warn my children just once that at some point they would be offered cigarettes and drugs by so-called friends while still of school-age: I told them many times, spread over the course of their childhood.  The message sank in and became part of their 
psyche, part of their awareness of the problems in life that have to be dealt with as they grow up and grow older.<br><br>

It was like teaching table manners or road safety to children. As parents, we do not simply tell them once and never again.  We have to tell them again and again, then wait a few years (or months!) and tell them all over again.  Teaching them how to cross roads safely seemed, at the time, an endless task.  It had to be taught to them and then taught again a few years later and then again after that.  These valuable lessons from parents on good upbringing are not delivered on a one-off basis, never to be repeated.  They are told over and again, in different ways, as children grow older.<br><br>

So it was with my ten key points.  I used them over and again, but in different ways at different times.  I never sat the children down and embarrassed them with having to deal with a &ldquo;facts of life&rdquo; conversation.  Instead, I used examples and ideas from the ten points in a spontaneous and natural way as and when the opportunity arose.<br><br>

<b>Children to decide for themselves never to smoke and never to try drugs</b><br><br>
                
The core aim was to work the key points into the character of the children.  I brought them up in such a way that when smoking and drugs were presented to them in reality, they would decide for themselves that they wanted nothing to do with either.  This was the aim all along.  I wanted my children to make their own decisions not to smoke or take drugs.  This was the only way I could have confidence that their decisions would be permanent and sustainable.<br><br>

It would not have been sufficient to persuade the children to resist smoking and drugs just to please dad.  The challenge was to ensure that they themselves actually wanted nothing to do with smoking and drugs.  I wanted to make sure, as far as possible, that they themselves ended up with their own inner feelings and motivation to remain free of smoking and drugs, hopefully for life.<br><br>

I do not believe it is possible to brainwash children, nor desirable to try. I have never toyed with aversion therapy: getting children to hate something by making them feel uncomfortable.  What I wanted all along was for them to make a free, happy, willing and conscious decision never to take drugs or smoke, not to manipulate or trick them into that position.  My assumption was that if you try to manipulate or trick children, they will soon work it out. They would react against it and then parents would get the opposite result to the one for which they hoped.<br><br>        
                
I do not believe in telling other parents that they should do as I did.  Each parent decides for themselves what to say to their children and how to bring them up.  That is part of the pleasure of being a parent.  None of us wants to be bossed around and told how to deal with our own children.<br><br>
                
<b>SUCCESS - children became adults and have never smoked or tried drugs</b><br><br>
                
But what I can say is that this is what I did and it worked. And it was easy.<br><br>

I have always been sceptical of claims by others that they have found a secret method or solved a problem hitherto insoluble.  It is of course possible, but I think most people are like me and have a healthy dose of doubt over claims by others to have achieved the seemingly impossible.<br><br>

I would never say to other parents that if you do what I did, you will definitely succeed in preventing your children from smoking and taking drugs.  But it is safe to say that I did stop my children; this is how I did it; and others are welcome to think about it and consider my system as they see fit.<br><br>

I used my method with the ten key points in ways that were amusing, encouraging, enlightening and life-affirming.  I was always positive with the children and I wanted to boost their self-confidence.  I wanted to build their strength of character.  I armed them with the mental fortitude to resist pressure from others to try smoking and drugs. <br><br>

<b>My system worked</b><br><br>
                
I dipped into the ten key points over and again to help my children come to their own decision not to smoke or take drugs.  That was my aim and inside me, by gut feeling, I knew that the only way to ensure they never smoked and never took drugs was to get them to make the decision for themselves.<br><br>

My ten points amounted to a programme, delivered over many years and in different ways, to help, encourage and lead my children to decide for themselves that they would never smoke and never take drugs.  Only if the decision came from them, willingly and knowingly, would I feel any guarantee that it would be successful.<br><br>

I am not an expert.  I just did my best, probably as most other parents also set out to do their best for their children.<br><br>
                
But I did succeed.  I used the system set out in this book and my children, now in their early 20s, have never smoked or tried drugs.<br><br>

This is a blessing and one of the most fortunate things that could happen.<br><br>

I can only wish the same luck and good fortune on other parents. I hope you too find success and that reading about my system may inspire and help you.
               
<br>  
                
<h2>You can obtain<br><br>
    <b><u>From Infancy to Adulthood:Smoke &amp; Drug-free Children</u></b><br><br>
    exclusively online from Fidelity Books</h2><br><br>

<center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9NW6ED6M28D7E">
<input type="hidden" name="custom" value="book_smoking_book">
<table class="email">
<tr><td><input type="hidden" name="on0" value="Email">Email</td></tr><tr><td><input type="text" name="os0" maxlength="200" required></td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
</center>

 

            
         <br>
           

e-book download &#xA3;4.99<br><br>
PUBLISHED AND AVAILABLE FROM 1st OCTOBER 2017 <br><br>
<b>To get an advance copy at 50% discount, send your email and the book title to Fidelity Books via our <a href="http://www.fidelitybooks.co.uk/contact.html">Contact page</a></b><br><br>





Published by Fidelity Books<br><br>
www.FidelityBooks.co.uk<br><br>
ISBN  978-0-9934660-1-4<br><br>                       
        
            </p>
            <!-- 
            End Book Description Area 
            -->
        
        </div>
{% endblock %}