{% extends "base.html" %}
{% block content %}
        <div class="wrapper">
        
            <!-- 
            Book Image Area : src relates to image path on system.
            -->
            <img class="bookimg" src="static/jpg/jokesfrontcover30.7.17.png" alt="JUST JOKES, OK?  Classic one-liners and short witty jokes" width="395px" height="590px">
            <!-- 
            End Book Image Area ^
            -->
            <!-- 
            Book Title & Title Font Colour
            -->
<h1 class="booktitle" style="color:rgb(35,35,35);">
JUST JOKES, OK?<br><br>
</h1>
<h3>
Classic One-liners<br>
and<br>
Short Witty Jokes<br><br><br>
</h3>
            <!-- 
            End Book Title Area 
            -->
            <!-- 
            Book Description Area 
            -->
            <p class="bookdesc">
                
<b>An introduction from the collector of these classic jokes....</b><br><br>
                
I have conspicuously failed in one area of life: publishing a jokes book.  Success has eluded me.  Or so says the greatest of online publishers, Amazon/Kindle.<br><br>

You are now looking at the second edition of my jokes book.  I originally published the first edition on Kindle in 2015. I sold five copies.<br><br>

When I say that I sold five copies, I mean a net result of four.  One of the five 
demanded a refund.  It was a stab to the heart.<br><br>

<b>Banned by Kindle</b><br><br>

I thought that four people actually paying money for my jokes book and not asking for a refund was quite good.  But rather than congratulating me, Kindle responded to what I thought was a medium-high level of sales by closing  down my account.<br><br>  

To me, every single reader is important. Every sale is an achievement. But Kindle 
obviously thought otherwise.  They deemed me a failure.  They excoriated me by email.  They condemned me and my books to oblivion.  An outcast from the internet.  Exiled from the ether.<br><br> 

But Kindle failed in their attempt to ban my book. It is now back, in its second edition!<br><br>  

<b>Good jokes</b><br><br>

I was brought up with and laughed at <i>Monty Python</i> and <i>The Goodies</i> during my teens. To me, my siblings and my contemporaries at school, these were not just funny, but hilarious. The jokes were original and the wit was keen.<br><br>  

At home, we also enjoyed Tommy Cooper, Kenneth Williams, Bennie Hill and the earlier <i>Carry On</i> films.<br><br>   

As an apparent adult, I then enjoyed decades more humour, mirth and endless jokes thanks to Radio 4 from the BBC: <i>Just A Minute, I&rsquo;m Sorry I Haven&rsquo;t A Clue, The News Quiz</i> and <i>Dead Ringers</i>.  Brilliant, brilliant, brilliant!<br><br>

After more than two decades of puzzling over the punch line of one particular joke (the weekly game of &ldquo;Mornington Crescent&rdquo; on <i>I&rsquo;m Sorry I Haven&rsquo;t A Clue</i>), I eventually worked it out. It was so funny it was worth waiting over 20 years to 
understand.  I can explain the joke to anybody who emails me and makes a sufficiently worthwhile offer.<br><br>
                
<b>Not such good jokes</b><br><br>
                                  
But there seems to have been the passing of an age of innocence in broadcast humour.  In recent years, humour sometimes appears to be based on breaking taboos.  On uttering what were hitherto socially unutterable words.  As if simply speaking the unspeakable and displaying the undisplayable were funny.  And sometimes giving a job to a comedian for reasons other than their talent.<br><br>

It was these develpopments which prompted me to start thinking about which jokes were funny and which were not.<br><br>  

I was getting fed up with the lack of good jokes.  And as I grew older, I became increasingly intolerant of un-funny jokes.<br><br> 

Jokes where the humour was solely based upon saying swear or obscene words or ridiculing people.<br><br>
                
Jokes where comedians betrayed, knowingly or otherwise, their dislike of, or hatred towards, a particular group of people.<br><br> 

Jokes that were simply a display of vulgarity, as if there was something intrinsically funny about saying, doing or showing in public something vulgar.<br><br>
                
Or jokes that were just not very funny, but delivered in a regional accent.  Were we supposed to smile and patronisingly say, &#8220;Well done,&#8221; as if it were impossible to find good comedians with regional accents?<br><br>

<b>Collecting and testing jokes</b><br><br>

I was so fed up with comedians whom I found embarrassing and jokes which did not make me laugh that I began looking for jokes which I did find funny.  I discovered that old jokes were the best, although there is a place for good, new ones.<br><br>

I collected the best jokes - by which I mean the ones that made me and my family laugh. I found that I liked short, witty jokes and old-fashioned one-liners.<br><br>

I tested my favourite jokes by reading them after dinner to my family. If there was no laughter &#8211; in the bin they went.  But my family soon got fed up with that, so I binned the unsuccessful jokes instead.<br><br>

And here are the jokes, just for you, dear reader.  Every one tried and tested on the family and deemed worthy of inclusion in the jokes book.<br><br>  

Any failings, however, are attributable solely to me, not my family.  I did sometimes wonder what they were laughing and groaning at when I said, &ldquo;Here's a new joke&hellip;&rdquo;

  <br>           
<h2>You can obtain <b><u>JUST JOKES, OK?</u></b> exclusively online from Fidelity Books</h2><br><br>
e-book download &#xA3;4.99<br><br>
PUBLISHED AND AVAILABLE FROM 1st OCTOBER 2017 <br><br>
<b>To get an advance copy at 50% discount, send your email and the book title to Fidelity Books via our<a href="http://www.fidelitybooks.co.uk/contact.html"> Contact page</a></b><br><br>

Published by Fidelity Books<br><br>
www.FidelityBooks.co.uk<br><br>
ISBN  978-0-9934660-3-8<br><br>
            </p>
            <!-- 
            End Book Description Area 
            -->
        
        </div>
    
{% endblock %}