{% extends "base.html" %}
{% block content %}
<!-- Start of Content -->
        <div class="wrapper">
        
            <!-- 
            Book Image Area : src relates to image path on system.
            -->
            <img class="bookimg" src="static/jpg/granitefrontcover5.8.17.png" alt="Homeowners' Guide to Granite Kitchen Worktops" width="395px" height="590px">
            <!-- 
            End Book Image Area ^
            -->
             <!-- 
            Book Title & Title Font Colour
            -->
           
            <h1 class="booktitle" style="color:rgb(35,35,35);">

          Homeowners' Guide to<br>
              GRANITE KITCHEN WORKTOPS</h1>
               
            <br><br></h1>
                
               <h2>Trade knowledge for homeowners<br>
                   wanting a granite worktop<br><br><br></h2>
                
        
            <!-- 
            End Book Title Area 
            -->
            
            <p class="bookdesc">
                
                A full description of this book will be online soon
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                
                <h2>You can obtain<br><br>
    <b><u>Homeowners' Guide to<br>
              GRANITE KITCHEN WORKTOPS</u></b><br><br>
    exclusively online from Fidelity Books</h2><br><br>
e-book download &#xA3;4.99<br><br>
PUBLISHED AND AVAILABLE FROM 1st OCTOBER 2017 <br><br>
<b>To get an advance copy at 50% discount, send your email and the book title to Fidelity Books via our <a href="http://www.fidelitybooks.co.uk/contact.html">Contact page</a></b><br><br>

Published by Fidelity Books<br><br>
www.FidelityBooks.co.uk<br><br>
ISBN 978-0-9934660-5-2<br><br>              
            
            </p>
            <!-- 
            End Book Description Area 
            -->
        
        </div>
{% endblock %}