{% extends "base.html" %}
{% block content %}
			
        <div class="wrapper">
        
            <!-- 
            Book Image Area : src relates to image path on system.
            -->
            <img class="bookimg" src="static/jpg/cowboysfrontcover23.7.17.png" alt="IDENTIFYING HONEST & RELIABLE BUILDERS and how to spot the cowboys. Trade secrets helping homeowners find the good guys and avoid the cowboys" width="395px" height="590px">
            <!-- 
            End Book Image Area ^
            -->
            <!-- 
            Book Title & Title Font Colour
            -->
            <h1 class="booktitle" style="color:rgb(35,35,35);">
                
            IDENTIFYING<br>
            HONEST &amp; RELIABLE<BR>
                BUILDERS</BR></h1><br>
            <h2> and how to spot<br>the cowboys</h2><br><br>
                
        <h3>Trade secrets helping homeowners<br>find the good guys<br>and avoid the cowboys<br><br>
                
            </h3>
            <!-- 
            End Book Title Area 
            -->
            <!-- 
            Book Description Area 
            -->
            <p class="bookdesc">
<br>You want some work done in your home and need a builder. But how do you know &ndash;<u>really know</u> &ndash; if the builder can do the job properly?<br><br>

This is one of the most worrying decisions a homeowner ever has to make.  <u>And devastating if you get it wrong</u>.<br><br>

The builder you choose should make your home a better, more wonderful place.<br><br>

But if you choose the wrong builder, you can face years of misery dealing with the consequences of work done badly. You can lose thousands, or tens of thousands, of pounds.<br><br>  Your home might drop in value or be hard to sell.  Your family and home life can be disrupted or ruined.  <b><u>You risk so much by trusting the wrong people</u></b>.<br><br>

The stress on you and your family of choosing a bunch of cowboy builders can be devastating.<br><br>

It is YOUR home, YOUR money, YOUR family life and therefore YOUR RESPONSIBILITY to <u>make sure your builders can do the job well</u>.<br><br> 
But how can you judge a builder?  How can you judge people <b><u>before</u></b> you give them money and <b><u>find out the hard way</u></b> that you have made a terrible mistake?<br><br>

My answer to the question is this: find out the facts for yourself and use your own judgement.  I will help you by making it easier for those without special trade knowledge. I will reveal to you <b><u>trade secrets and my trade knowledge</u></b> on judging good and bad work. <u><b>On judging good and bad builders</b></u>.<br><br>

I have compiled a <u>unique questionnaire</u> to assess builders and their work. <u>The more boxes you tick, the greater the chance you have found BAD BAD BAD builders</u>. <br><br> 
                
But the fewer boxes ticked, <u>the better the builders</u>.<br><br>

Each question is designed to reveal something about the builder.  Nobody is perfect and even the best builder will get a few boxes ticked.  <b>But the more boxes ticked, the worse the builder</b>.<br><br>

To accompany each question, there is an explanation of the <u>trade secrets and trade knowledge</u> being put under the microscope. This explanation and revelation of trade secrets will enable you easily to judge the quality of the builders and their work.<br><br>

I have been running a building company in Central and North London since 2001. We are long-standing members of the Federation of Master Builders, the National Register of Warranted Builders and the government's Trust Mark Scheme.<br><br>
                
We are true experts in the <u>single most difficult of jobs</u> that most householders ever face, the bathroom refurbishment.  But we are also experts in extensions, loft conversions, kitchens, wood and stone floors, plastering, tiling, decorating, patios, general building etc - everything for private houses and flats.<br><br>

I have spent many years working with trade secrets. I use them on a daily and weekly basis.  I am personally called in by prospective new clients to sort out bad jobs by previous plumbers, carpenters, plasterers, tilers, electricians and builders etc. If a job has been done badly in London, the chances are that I have seen that type of work and had to find the solution.<br><br> 
                
I have seen countless bad jobs and bodged jobs. Clients ask me to resolve problems and organise the new building work. Leaking showers, cracked tiles, peeling paint, toilets that do not flush well, baths that empty slowly, extensions falling away from the main house, patios sloping towards the house meaning rainwater floods into the house, water leaking through the roof, rising damp because builders bridged an existing damp proof course, drain smells coming into the house, shelves and kitchen wall units that fall off the wall, lack of water pressure, doors not closing, supporting joists cut so floors become bouncy or start to sink, interior paint on exterior windows etc. The list is endless. <br><br>
                
I have seen it all.  I spend my working life looking at these building problems. I find the solutions. My company then does the actual work. I also specialise in designing wonderful new bathrooms and probably even more importantly, my staff then build them. <b>And give a complete, comprehensive, no-quibble guarantee</b>.<br><br>
                
Apart from cracked tiles and leaking showers, the most common problem I see from cowboy builders is <b>the incomplete job</b>.  This is because <u>bad builders will take on a job which they are incapable of completing</u>.<br><br>
                
In most building jobs, every stage is more difficult than the previous one.  The job is easy at the start, then becomes progressively more difficult.  Incompetant builders will start a job, <u>then walk away and leave it unfinished</u> because they are not able to finish it properly.<br><br> 
 
In this book, <b>I am revealing to you some of the ways in which the trade judges builders and their work</b>.<br><br>

I cannot promise you will be successful if you use my questionnaire. <b>But I can promise this is the trade knowledge I use and it works for me</b>.<br><br>

You must use your own judgement and common sense when choosing builders, but I am confident that my questionnaire is of <u>real and practical help</u> in assisting those who know <u>nothing about and have no interest in builders and the building trade</u>.<br><br>

As well as the questionnaire, the explanation for each question will give readers with <u>no previous experience, knowledge or interest in building work</u> detailed guidance on what to look for.<br><br>


If you are keen to avoid the <b>devastation and destruction</b> and the <b>feeling of being conned</b>, that comes from engaging cowboy builders, then <b>this book is for you</b>.<br><br>
 
Let me help you <u>avoid the cowboys</u> and <u>find the good guys</u>. <br><br>
                
Written for homeowners with <u>no specialist knowledge</u> of the building trade.

<h2>You can obtain<br><br>
    <b><u>IDENTIFYING HONEST &amp; RELIABLE BUILDERS<br>
        and how to spot the cowboys</u></b><br><br>
    exclusively online from Fidelity Books</h2><br><br>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZB7U92XYTSZNG">
<input type="hidden" name="custom" value="book_cowboy_builders">
<table>
<tr><td><input type="hidden" name="on0" value="Email">Email</td></tr><tr><td><input type="text" name="os0" maxlength="200" required></td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>


e-book download &#xA3;4.99<br><br>
PUBLISHED AND AVAILABLE FROM 1st OCTOBER 2017 <br><br>
<b>To get an advance copy at 50% discount, send your email and the book title to Fidelity Books via our 
    <a href="http://www.fidelitybooks.co.uk/contact.html">Contact page</a></b><br><br>

Published by Fidelity Books<br><br>
www.FidelityBooks.co.uk<br><br>
ISBN  978-0-9934660-2-1 <br><br>             
               </div>
            </p>
            <!-- 
            End Book Description Area 
            -->

{% endblock %}